html {
    height: 100vh;
    font-family: "Verdana", sans-serif;
}

body {
    background: radial-gradient(circle at 55%, #d1a1ed, #31024d 100%);
    /*background-color: black;*/
}

main {
}

h1, p {
    color: white;
}

.mainDiv {
    height: 98vh;

    display: grid;
    align-content: center;
    justify-content: center;

}

.RegistrationContainer {

    background: radial-gradient(circle at 0% 50%, rgb(50, 50, 50) -100%, rgb(0, 0, 0) 100%);
    border-radius: 10px;

    display: grid;
    /*grid-template-rows: 25% 17.5% 11.5%;*/
    grid-template-columns: auto;
    grid-template-rows: 25% auto auto auto;

    justify-content: center;
    justify-items: center;
    align-content: stretch;

    width: 47vh;
    height: 90vh;

}

.registrationForm {
    display: grid;
}

.startText {
    display: grid;
    grid-template-rows: 40% auto;

    justify-content: center;
    justify-items: center;
}

.registrationBoxLabels {

    display: grid;
    grid-template-rows: auto auto;

    align-content: center;
    justify-content: space-around;

    grid-row-gap: 15px;
}

.registrationInput {
    color: silver;
    font-weight: bold;
    font-size: 16px;

    height: 50px;
    width: 40vh;

    background-color: #333333;
}

.registrationInput:hover {
    scale: 1.02;
    background-color: #404040;
}


.circleBtn {
    display: grid;
    margin-top: 15px;
}

.memberMe {

    display: grid;

    grid-template-columns: auto auto;

    justify-content: end;

    grid-column-gap: 20px;


}

.memberMe p {
    font-size: 20px;
}

.submitBtn {
    border-radius: 35px;
    background-color: white;

    font-size: 20px;
    font-weight: bold;

    height: 55px;
    width: 35vh;

    cursor: pointer;
}

.googleBtn {
    border: none;
    border-radius: 25px;
    height: 55px;
    width:35vh;

    background-image: linear-gradient(to right, #4285F4, #EA4335, #FBBC05, #34A853);
    color: #fff;

    font-size: 20px;
    font-weight: bold;

    cursor: pointer;
}

@media screen and (max-width: 1000px){
    .startText h1{
        font-size: 4vh;
    }
}