header{
}

.headerArea {
    display: grid;
    grid-template-columns: 20% auto;
    gap: 10px;
}

.AreaToRegistrationArea {
    display: grid;
    grid-template-rows: auto auto;
    gap: 10px;
}

.registrationArea {
    background-color: #090909;
    display: grid;
    grid-template-columns: auto auto;
    justify-content: end;
    align-items: center;
    gap: 30px;
    height: 100px;
    border-radius: 15px;
    width: 100%;

}

.btnRegistration {
    background: none;
    border: none;
    font-size: 20px;
    color: white;
}

.btnRegistration:hover {
    transform: scale(1.05);
}

.btnEnter {
    border-radius: 30px;
    padding: 15px;
    font-size: 20px;
    width: 120px;
    margin-right: 30px;
}

.btnEnter:hover {
    transform: scale(1.05);
}

.navigationArea{
    background-color: #090909;
    display: grid;
    border-radius: 15px;
    grid-template-columns: auto auto auto;
    justify-content: space-around;
    padding: 30px;
}

.navigation {
    background-color: #090909;
    display: grid;
    grid-template-rows: auto auto auto;
    grid-template-columns: auto;
    align-content: start;
    justify-content: start;
    border-radius: 15px;
}

.divNameSite{
    margin-left: 25px;
}

.divHome{
    margin-bottom: 30px;
    margin-left: 25px;
}

.divSearch{
    margin-left: 25px;
}

.btnNameSite p{
    font-weight: bold;
    font-size: 25px;
}

.navigation button {
    font-size: 20px;
    background: none;
    border: none;
    color: white;
}

.navigation .btnHome:hover {
    transform: scale(1.05);
    font-weight: bold;
}

.navigation .btnSearch:hover {
    transform: scale(1.05);
    font-weight: bold;
}
