main {
    background: radial-gradient(circle at 55%, #d1a1ed, #31024d 100%);
}

h1, p {
    color: white;
}

.mainDiv {

    display: flex;
    align-items: center;
    justify-content: center;


}

.RegistrationContainer {

    background: radial-gradient(circle at 0% 50%, rgb(50, 50, 50) -100%, rgb(0, 0, 0) 100%);
    border-radius: 10px;

    display: grid;
    grid-template-rows: 25% 17.5% 11.5% 10%;
    /*grid-template-rows: auto auto auto auto;*/

    justify-content: center;
    justify-items: center;
    align-content: start;


}


.startText {
    display: grid;
    grid-template-rows: 40% auto;

    justify-content: center;
    justify-items: center;

}

.registrationBoxLabels {

    display: grid;
    grid-template-rows: auto auto;

    justify-content: center;
    align-content: center;

    grid-row-gap: 15px;
}

.registrationInput {
    color: silver;
    font-weight: bold;
    font-size: 16px;

    height: 50px;
    width: 400px;

    background-color: #333333;
}

.registrationInput:hover {
    scale: 1.02;
    background-color: #404040;
}


.circleBtn {
    margin-top: 15px;
}

.memberMe {

    display: grid;

    grid-template-columns: auto 1%;

    justify-items: center;

    grid-column-gap: 20px;

}

.memberMe p {
    font-size: 20px;
}

.submitBtn {
    border-radius: 35px;
    background-color: white;

    font-size: 20px;
    font-weight: bold;

    height: 55px;
    width: 400px;

    cursor: pointer;
}

.googleBtn {
    border: none;
    border-radius: 25px;
    width: 400px;
    height: 55px;

    background-image: linear-gradient(to right, #4285F4, #EA4335, #FBBC05, #34A853);
    color: #fff;

    font-size: 20px;
    font-weight: bold;

    cursor: pointer;
}
