footer{
    margin-top: 25px;
    background-color: black;
}

.footerDiv {
    display: grid;
    grid-template-columns: 20% auto;
    gap: 10px;
}

.areaToBtnLanguage{
    display: grid;
    justify-content: center;
    align-content: center;
}

.btnLanguage{
    border-radius: 25px;
    padding: 8px;
    width: 100px;

    background-color: #121212;
    color: white;
    font-weight: bold;

    border: 1px solid white;
}

.btnLanguage:hover{
    scale: 1.05;
}

.footerLanguage {
    display: grid;
    background-color: #121111;
    border-radius: 15px;
}

.footerInfo {
    display: grid;
    grid-template-columns: auto auto auto auto;
    /*background: radial-gradient(circle at 0% 50%, rgb(50, 50, 50) -100%, rgb(0, 0, 0) 100%);*/
    background-color: #121111;
    border-radius: 15px;

    justify-content: space-around;
}

.footerInfo h3{
    color: white;
    font-weight: bold;
}

.footerInfo p{
    color: slategray;
}

.footerInfo p:hover{
    color: white;
}

.linkToSites{
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-between;
    align-content: center;
    gap:20px;

}

.divImage img{
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background-color: #18181a;
}

.divImage img:hover{
    background-color: #39393b;
    scale: 1.05;
}