.hits{

}

.topWeek{
    background: radial-gradient(circle at 0% 50%, rgb(50, 50, 50) -100%, rgb(0, 0, 0) 100%);
    border-radius: 30px;
}

.textTopWeek {
    color: white;
    text-align: center;
}

.theBestArea {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    justify-content: space-around;
    column-gap: 10px;
    row-gap: 50px;
}

@keyframes sectionAnimation {

    100% {
        background-position: 0 250px;
    }
}

.theBestArea section {
    width: 250px;
    height: 250px;


    border-radius: 15px;
    border: 0 solid transparent;
    background: linear-gradient(to bottom, #5589B6, #C924DD, #5589B6);
    transition: background-image 0.5s;
}

.theBestArea section:hover {
    animation-name: sectionAnimation;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

section address::before {
    margin-left: 4%;
    content: "👤";
}

section cite::before {
    margin-left: 4%;
    content: "🎵";
}

.theBestArea section img {
    width: 95%;
    height: 77%;
    border-radius: 15px;
    margin-left: 2.4%;
    margin-top: 1%;
}

.btnDiv {
    display: grid;
    grid-template-columns: auto auto;
    grid-column-gap: 30px;
    justify-content: center;
    align-items: center;
}

.btnMore {
    width: 100px;
    height: 35px;
    background-color: mediumpurple;
    color: #ffffff;
    font-size: 18px;
    border-radius: 7px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-bottom: 30px;
}


.btnMore:hover {
    background-color: purple;
}

.btnMore:active {
    background-color: purple;
}

.moreSection {
    display: grid;
    margin-bottom: 20px;
    justify-content: center;
}

.areaToImageAndText {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: start;
    align-content: center;
    gap: 10px;
}

.moreSectionImage {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    align-content: space-around;
}

.moreSectionText {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    align-content: space-around;
}

.moreSectionImage img {

    width: 50px;
    height: 50px;
    border-radius: 10px;
}

