body{
    background-color: #8401E3;
}

.container {
    margin: 0 auto;
    text-align: center;
}

.container-grid {
    display: grid;
    grid-template-columns: auto auto;
    grid-column-gap: 100px;
    margin: 0 auto;
    text-align: center;
}

.input-container {
    position: relative;
}

.input-container label {
    display: block;
}

.input-container input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: transform 0.5s;
    margin: 10px 0;
}

.input-container input:hover {
    transform: scale(1.05);
    background-color: red;
}


.submit-button {
    display: none;
}

.submit-button.active {
    display: block;
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s;
    margin: auto;
    margin-top: 30px;
}

.submit-button:hover {
    background-color: #45a049;
}

/* Адаптив для (713px и более) */
@media screen and (min-width: 1001px) {
    .container-grid {
        grid-template-columns: repeat(2, 1fr);
        width: 600px;
    }
}


/* Адаптив для (713px и более) */
@media screen and (min-width: 713px) and (max-width: 1000px) {
    .container-grid {
        grid-template-columns: repeat(1, 1fr);
        width: 600px;
    }
}


/* Адаптив для (320px - 712px) */
@media screen and (max-width: 712px) {
    .container-grid {
        grid-template-columns: repeat(1, 1fr);
    }

}
