body {
    background-color: #8401E3;
}


header {
    position: static;

}


.textB {
    position: absolute;
}


.logo {
    position: relative; /* Нужно, чтобы дочерние элементы могли быть абсолютно позиционироваными относительно .logo */
    background-color: #8401E3;
    width: 100%;

}

.logo img {
    position: absolute;
    display: block; /*делаем его блочным Не даем другим элементам встать в эту ширину*/
    width: 500px;
    height: 300px;
    opacity: 0.9;
    left: 30%;

}


.logo h1 {
    position: absolute; /* Абсолютное позиционирование относительно .logo */
    right: 5%; /* Располагаем заголовок справа на 5% относительно .logo */
    color: white; /* Цвет текста заголовка */
}


#checkboxLogo {
    position: absolute; /* Абсолютное позиционирование относительно .logo */
    right: 4%; /* Располагаем заголовок справа на 5% относительно .logo */
    top: 30px;
    height: 30px;
    width: 120px;
    z-index: 3;
    opacity: 0;
}

#checkboxLogo:checked ~ form {
    display: none;
}

.logo form {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-content: space-between;
    position: absolute; /* Абсолютное позиционирование относительно .logo */
    right: 5%; /* Располагаем заголовок справа на 5% относительно .logo */
    top: 90px;
    color: black;
    border-radius: 30px;
    background: linear-gradient(to right, skyblue, mediumpurple);
    width: 350px;
    height: 200px;
    font-size: 15px;
}

.logo legend {
    font-size: 20px;
    margin: auto;
    width: 80%;
}

.logo input {
    font-size: 25px;
    height: 30px;
    border-radius: 30px;
    align-items: center;
}

@keyframes area-light {
    from {
        visibility: visible;
        top: -5%;
        left: -3%;
        width: 20%;
        height: 20%;
    }
    to{
        top: -3%;
        left: -3%;
        width: 105%;
        height: 110%;
    }

}

.logo form:hover::before {
    animation-name: area-light;
    animation-duration: 15s;
    animation-fill-mode: forwards;
}

.logo form::before {
    content: "";
    position: absolute;
    border-radius: 30px;
    z-index: -10;
    background-color: red;
    visibility: hidden;
}


.burgerIcon {
    display: flex;
    width: 35px;
    height: 30px;
    background-color: white;
    left: 95%;
    top: 320px;

    position: relative;
    cursor: pointer;

    z-index: 3;
}

.burgerIcon::before, .burgerIcon::after {
    content: "";
    position: absolute;
    background: white;
    width: 100%;
    height: 8px;
    transition: transform 0.2s ease-in-out;

}

.burgerIcon::before {
    top: 0;
    margin-top: 13%;
    background-color: #8401E3;
}

.burgerIcon::after {
    bottom: 0;
    margin-bottom: 13%;
    background-color: #8401E3;
}

.menu {
    position: relative;
    visibility: hidden;
    display: none;
    width: 120%;
}

#burgerCheckbox:checked + .burgerIcon::before {
    transform: rotate(45deg) translate(6px, 6px);
    background-color: white;
}

#burgerCheckbox:checked + .burgerIcon::after {
    transform: rotate(-45deg) translate(6px, -6px);
    background-color: white;
}

#burgerCheckbox:checked + .burgerIcon {
    background-color: inherit;
}

#burgerCheckbox {
    display: none;
}

@media screen and (min-width: 1440px) {

    #burgerCheckbox:checked ~ .menu {
        visibility: visible;
        display: flex;
        flex-wrap: wrap;
        align-content: space-around;
        width: 100%;
    }

    nav {
        top: 320px;
        position: relative;
        background-color: blueviolet;
        width: 100%;
        height: 200px;
    }

    .pLineSecond {
        position: relative;
        left: 180px;
    }
}

@media screen and (max-width: 1440px) {

    #burgerCheckbox:checked ~ .menu {
        visibility: visible;
        display: flex;
        flex-wrap: wrap;
        align-content: space-around;
    }

    nav {
        display: flex;
        flex-wrap: wrap; /*перенос на след строку*/
        flex-direction: column; /*основная ось-слева направо, поперечная - сверху вниз*/
        justify-content: space-between; /*выравниает освновную ось*/
        align-items: stretch; /*выравниает по поперечной оси внутри контейнера*/ /*по умолчанию вдоль всей высоты*/
        align-content: space-around; /*выравниает по поперченой оси между рядами flex*/
        row-gap: 30px; /*отступы между строками и стоблцами*/

        top: 320px;
        position: relative; /* относительно элемента - nav*/
        background-color: blueviolet;
        width: 100%;
        height: 700px;
    }

}


nav p {
    position: relative;
    color: white;
    font-size: 30px;
    display: inline-block;
    margin-right: 5%;
    padding-left: 13%;


    transform: skew(15deg); /* наклонить прямоугольник*/
}

nav p a {
    color: white;
    text-decoration: none;
}


nav p:hover {
    transition: background-color 1s ease; /* Плавный переход для цвета заднего фона */
    opacity: 0.7;
}


main {
    position: static;
    margin-top: 25%;
    font-size: 15px;
    width: 100%;
}

@media screen and (max-width: 1440px) {
    main {
        position: static;
        margin-top: 35%;
        font-size: 15px;
        width: 100%;
    }
}

.topWeek {
    position: relative; /* относительно него могут позицинироваться элементы из списка Top*/
}

#h2TopWeek {

    margin-left: 37%;
    position: relative;
    font-size: 30px;
}

section {
    position: relative;
    background-color: ghostwhite;
    display: block; /*делаем его блочным*/
    width: 500px;
    height: 100%;


    margin-left: 28%;
    margin-bottom: 20px;

    transform: skew(15deg); /* наклонить прямоугольник*/

    border: 8px solid;


}

@keyframes no-info {
    from {
        opacity: 0;
        filter: blur(5px);
    }

    to {
        opacity: 80%;
        filter: blur(0px);
    }
}

.infoSection {
    display: flex;
    position: absolute;
    background-color: whitesmoke;
    top: 30%;
    left: -10%;
    width: 120%;
    height: 40%;
    align-items: center;
    justify-content: space-around;
    opacity: 0;
}

.infoSection:hover {
    animation-name: no-info;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

@keyframes logoFill {
    0% {
        height: 0;

    }
    100% {
        height: 55px;

    }
}

.infoSection img {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 15px;
    border-width: 20px;
    filter: drop-shadow(5px 5px black);
}

.infoSection a::before {
    content: "";
    position: absolute;
    width: 55px;
    background: linear-gradient(to top, mediumorchid, purple);


}

.infoSection a:hover::before {
    animation-name: logoFill;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

@keyframes left-right-square {

    from {
        top: 0;
        left: 100%;
    }

    50% {
        left: 50%;
    }

    to {
        top: 0;
        left: 0;
    }
}

.infoSection::before {
    content: "";
    width: 50px;
    height: 50px;
    position: absolute;
    color: red;
    background-color: red;
    z-index: 3;
}

.infoSection:hover::before {
    animation-name: left-right-square;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

@keyframes right-left-square {
    from {
        bottom: 0;
        right: 100%;
    }

    50% {
        right: 50%;
    }

    to {
        bottom: 0;
        right: 0;
    }
}

.infoSection::after {
    content: "";
    width: 50px;
    height: 50px;
    position: absolute;
    color: red;
    background-color: red;
    z-index: 3;
}

.infoSection:hover::after {
    animation-name: right-left-square;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

#sectionFirst {
    border-image: linear-gradient(to right, #69b7eb, deepskyblue) 1;
}

#sectionSecond {
    border-image: linear-gradient(to right, #fedb37, #5d4a1f) 1;
}

#sectionThird {
    border-image: linear-gradient(to right, honeydew, silver) 1;
}

#linkA {
    color: blue;
}

section address::before {
    content: "👤";
}

section cite::before {
    content: "🎵";
}

section img {
    position: relative;
    display: block; /*делаем его блочным*/
    width: 500px;
    height: 300px;
    opacity: 0.9;
}

#sectionFirst:hover .textImage {
    transition: opacity;
    opacity: 0.7;
    transition-delay: 0.3s;
    transition-duration: 0.8s;

    transform: scale(1.2);
}

.textImage {
    position: absolute;
    bottom: 50px;
    left: 50px;
    opacity: 0;
}

.textImage::before {
    position: absolute;
    content: "";
    width: 0%;
    background-color: #fedb37;
    height: 20px;
    z-index: -1;
}

#sectionFirst:hover .textImage::before {
    transition: width;
    width: 100%;
    transition-delay: 0.3s;
    transition-duration: 1s;

}

section:hover cite {
    visibility: visible;
    animation-timing-function: linear;

}

section:hover address {
    visibility: visible;
}


.video {
    margin-left: 400px;
    background-color: #8401E3;
}

.textVideo {
    font-size: 30px;
    position: relative;
    text-align: center;
    color: red;
    top: -100px;
    opacity: 0;
}

.textVideo::before {
    content: "";
    width: 280px;
    height: 50px;
    position: absolute;
    background: #6ea8da;
    opacity: 0.3;
}

#flexItem1:hover .textVideo {
    transition: opacity 300ms, ease-in-out, 1s;
    opacity: 1;
}

#flexItem1:hover .textVideo::before {
    transition: background-color 300ms, ease-in-out, 5s;
    background-color: red;
}

.maybeLike {
    position: relative;
}

@media screen and (min-width: 1440px) {
    aside {
        position: absolute; /* Абсолютное позиционирование относительно div_class=topWeek*/
        left: 80%; /* Располагаем заголовок по горизонтали на 50% относительно .logo */
        top: 40%;
        color: white; /* Цвет текста заголовка */
        /*border: 3px solid black;*/
    }
}

@media screen and (max-width: 1440px) {
    aside {
        visibility: hidden;
        position: absolute; /* Абсолютное позиционирование относительно div_class=topWeek*/
        left: 80%; /* Располагаем заголовок по горизонтали на 50% относительно .logo */
        top: 40%;
        color: white; /* Цвет текста заголовка */
        /*border: 3px solid black;*/
    }
}


.h3Aside {
    position: relative;
    font-size: 30px;
    color: black;
    right: 30px;
}

aside pre {
    margin: auto;
    text-align: left;
    margin-bottom: -17px;
    margin-left: 50px;
}

aside img {
    width: 40px;
    height: 40px;
    transform: translate(0%, -57%);
    border-radius: 10px;
}

aside img:active {
    transition: background-color 1s ease; /* Плавный переход для цвета заднего фона */
    background-color: #8401E3;
    clip-path: ellipse(100% 100%); /* Форма заднего фона в виде круга */
    opacity: 0.7;
}


.botWeek {
    position: relative; /* относительно него могут позицинироваться элементы из списка Top*/
}

@media screen and (min-width: 1440px) {
    .flexClass {
        position: relative;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap; /*переход на новую строку в случае перезаполнения*/
        justify-content: space-around; /*одинаковые размеры с краев*/
    }

}

@media screen and (max-width: 1440px) {
    .flexClass {
        position: relative;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap; /*переход на новую строку в случае перезаполнения*/
        justify-content: space-around; /*одинаковые размеры с краев*/
    }
}

#flexItem1 {
    flex-basis: 100%; /*занимает место еще до того как свободное место будет распределено*/
    width: 100%;
}

#flexItem2 {
    flex-basis: 20%; /*занимает место еще до того как свободное место будет распределено*/
    width: 100%;
}

#flexItem3 {
    flex-basis: 30%; /*занимает место еще до того как свободное место будет распределено*/
    width: 100%;
}

#flexItem4 {
    flex-basis: 30%; /*занимает место еще до того как свободное место будет распределено*/
    width: 100%;
}

#flexItem5 {
    flex-basis: 20%; /*занимает место еще до того как свободное место будет распределено*/
    width: 100%;
}


.flexClass section {
    width: 250px;
    height: 250px;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 10px;

}

.flexClass section img {
    height: inherit;
    width: inherit;
}

#h2BotWeek {
    margin-left: 37%;
    position: relative;
    font-size: 30px;
}


footer {

    position: static;
    background-color: mediumpurple;
    opacity: 0.8;
}

@media screen and (max-width: 1440px) {
    footer {
        width: 120%;

        position: static;
        background-color: mediumpurple;
        opacity: 0.8;
    }
}

footer h2 {
    margin-left: 37%;
    position: relative;
    font-size: 30px;

}

.leftRight {
    display: flex;
    gap: 25%;
    align-items: center;
    margin-left: 50px;
}


form {
    background-color: #f2f2f2;
    padding: 20px;
    font-family: Arial, sans-serif;
}

textarea:focus {
    outline: none;
    border-color: #6ea8da;
    box-shadow: 0 0 5px #6ea8da;
}

.button {
    display: inline-block;
    background-color: mediumpurple;
    color: white;
    padding: 10px 20px;
    border-radius: 40px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    margin-right: 10px;
    text-align: center;
}

#button1:hover {
    /*transition: background-color 10s ease 10s; !* Плавный переход для цвета заднего фона *!*/
    transform: revert;
    opacity: 0.7;
}

#button2:hover {
    transform: translate(10px, 30px) rotateY(10deg);
}

#button1:hover ~ .musicBoard {
    display: flex;

    height: 200px;
    width: 20%;
}

#button3:hover {
    transform: scale(3);
    box-shadow: 0 0px 10px red;
}

#button4:hover {
    transition-property: background-color; /*плавность изменения*/
    transition-duration: 0.9s; /*длительность перехода*/
    transition-timing-function: ease-in-out; /*функция описывающая скорость измекнения свойства*/
    transition-delay: 0.2s; /*задержка перед началом изменения*/
    width: 100px;

    padding: 10px 20px;
    background-color: #ff0000;
    color: #ffffff;
    cursor: pointer;

}

.button span {
    position: relative;
    z-index: 1;
}

.button::before, .button::after {
    content: "";
    position: absolute;
    background-color: rgba(255, 255, 255, 0.4);
}

.button::before {
    top: 120%;
    left: 0;
    width: 100%;
    height: 100%;
    transform: skewY(40deg);
}


.musicBoard {
    display: flex;
    flex-wrap: nowrap; /*перенос на след строку*/
    flex-direction: column; /*основная ось-слева направо, поперечная - сверху вниз*/
    justify-content: space-around; /*выравниает освновную ось*/
    align-items: stretch; /*выравниает по поперечной оси внутри контейнера*/ /*по умолчанию вдоль всей высоты*/
    align-content: space-around; /*выравниает по поперченой оси между рядами flex*/
    gap: 0; /*отступы между строками и стоблцами*/

    position: relative; /* относительно элемента - nav*/
    color: white;
    background-color: black;
    width: 200px;
    border-radius: 30px;
    height: 100px;

    transition-property: all;
    transition-timing-function: ease-in-out;
    transition-duration: 0.9s;

}

.musicList {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: silver;
    border-radius: 30px;
    height: 80%;

}

.musicItem {
    position: relative;
    display: inline-block;
    margin-left: 5%;
    border-radius: 30px;
    background-color: wheat;
    text-align: center;
    padding-top: 10px;
    width: 50%;
    height: 20%;
}


label {
    font-weight: bold;
    margin-bottom: 5px;
}

textarea {
    resize: vertical;
}

fieldset {
    margin-bottom: 20px;
    border: 1px solid #ccc;
    padding: 10px;
}

legend {
    font-weight: bold;
    font-size: 16px;
}

input::placeholder {
    color: #999;
    font-size: 140px;
}


