body {
    background-color: #8401E3;
}


header {
    position: static;
}

@media screen and (min-width: 1081px) {
    header {
        height: 600px;
    }

}

@media screen and (max-width: 1080px) {
    header {
        height: 1000px;
    }

}


.textB {
    position: absolute;
}

.notificationBox {
    display: flex;
    justify-content: end;
}

.notification {
    position: absolute;
    z-index: 3;
}

.notificationImg {
    width: 50px;
    height: 50px;
}

.notifications {
    position: absolute;
    right: 5%;
    height: 50px;
    z-index: 4;
}

.stopButton {
    position: absolute;
    top: 10%;
    right: 4%;
}

.logo img {
    position: absolute;
    display: block; /*делаем его блочным Не даем другим элементам встать в эту ширину*/
    width: 500px;
    height: 300px;
    opacity: 0.9;
    left: 30%;

}


.logo h1 {
    position: absolute; /* Абсолютное позиционирование относительно .logo */
    left: 5%; /* Располагаем заголовок справа на 5% относительно .logo */
    color: white; /* Цвет текста заголовка */
}


#checkboxLogo {
    position: absolute; /* Абсолютное позиционирование относительно .logo */
    right: 4%; /* Располагаем заголовок справа на 5% относительно .logo */
    top: 30px;
    height: 30px;
    width: 120px;
    z-index: 3;
    opacity: 0;
}

#checkboxLogo:checked ~ form {
    display: none;
}

.logo form {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-content: space-between;
    position: absolute; /* Абсолютное позиционирование относительно .logo */
    right: 5%; /* Располагаем заголовок справа на 5% относительно .logo */
    top: 90px;
    color: black;
    border-radius: 30px;
    background: linear-gradient(to right, skyblue, mediumpurple);
    width: 350px;
    height: 200px;
    font-size: 15px;
}

.logo legend {
    font-size: 20px;
    margin: auto;
    width: 80%;
}

.logo input {
    font-size: 25px;
    height: 30px;
    border-radius: 30px;
    align-items: center;
}

@keyframes area-light {
    from {
        visibility: visible;
        top: -5%;
        left: -3%;
        width: 20%;
        height: 20%;
    }
    to {
        top: -3%;
        left: -3%;
        width: 105%;
        height: 110%;
    }


}

.logo form:hover::before {
    animation-name: area-light;
    animation-duration: 15s;
    animation-fill-mode: forwards;
}

.logo form::before {
    content: "";
    position: absolute;
    border-radius: 30px;
    z-index: -10;
    background-color: red;
    visibility: hidden;
}


div p {
    position: relative;
    color: white;
    font-size: 30px;
    display: inline-block;


    transform: skew(15deg); /* наклонить прямоугольник*/
}

div p a {
    color: white;
    text-decoration: none;
}


div p:hover {
    transition: background-color 1s ease; /* Плавный переход для цвета заднего фона */
    opacity: 0.7;
    cursor: pointer;
}

.boxMenu {
    position: relative;
    top: 350px;
    background-color: mediumpurple;
}

.firstLine {
    display: grid;

    grid-template-columns: auto auto auto;

    justify-content: space-around;

    row-gap: 30px;
    column-gap: 30px;

}

.secondLine {
    display: grid;

    grid-template-columns: auto auto;

    justify-content: space-around;

    row-gap: 50px;
    column-gap: -10px;

}

@media screen and (min-width: 300px) and (max-width: 1080px) {
    .firstLine {
        grid-template-columns: auto;
    }

    .secondLine {
        grid-template-columns: auto;
    }

}

@media screen and (min-width: 1081px) {
    .firstLine {
        grid-template-columns: auto auto auto;
    }

    .secondLine {
        grid-template-columns: auto auto;
    }

}


.topWeek {
    display: block;
    position: relative; /* относительно него могут позицинироваться элементы из списка Top*/
}


#h2TopWeek {

    text-align: center;
    position: relative;
    font-size: 30px;
}

.gridSectionFirst {
    display: grid;
    justify-content: center;
}

.gridSectionSecond {
    display: grid;
    justify-content: center;
}

@media screen and (max-width: 1080px) {
    .gridSectionFirst {
        grid-template-columns: auto;
    }

    .gridSectionSecond {
        grid-template-columns: auto;
    }

}

@media screen and (min-width: 1081px) {
    .gridSectionFirst {
        grid-template-columns: auto auto;
        grid-column-gap: 80px;
    }

    .gridSectionSecond {
        grid-template-columns: auto;
    }
}

section {
    position: relative;
    background-color: ghostwhite;
    display: block; /*делаем его блочным*/
    width: 500px;


    margin-bottom: 20px;

    transform: skew(15deg); /* наклонить прямоугольник*/

    border: 8px solid;


}

@keyframes no-info {
    from {
        opacity: 0;
        filter: blur(50px);
    }

    to {
        opacity: 80%;
        filter: blur(0px);
    }
}

.infoSection {
    display: flex;
    position: absolute;
    background-color: whitesmoke;
    top: 30%;
    left: -10%;
    width: calc(100% + 20%);
    height: 40%;
    align-items: center;
    justify-content: space-around;
    opacity: 0;
    cursor: default;
}

.infoSection:hover {
    animation-name: no-info;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

@keyframes logoFill {
    0% {
        height: 0;

    }
    100% {
        height: 55px;

    }
}

.infoSection img {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 15px;
    border-width: 20px;
    filter: drop-shadow(5px 5px black);
}

.infoSection a::before {
    content: "";
    position: absolute;
    width: 55px;
    background: linear-gradient(to top, mediumorchid, purple);


}

.infoSection a:hover::before {
    animation-name: logoFill;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

@keyframes left-right-square {

    from {
        top: 0;
        left: 93%;
    }

    50% {
        left: 50%;
    }

    to {
        top: 0;
        left: 0;
    }
}

.infoSection::before {
    content: "";
    width: 50px;
    height: 50px;
    position: absolute;
    color: red;
    background-color: red;
    z-index: 3;
    top: 0;
    left: 93%;
}

.infoSection:hover::before {
    animation-name: left-right-square;
    animation-duration: 5s;
    animation-fill-mode: forwards;
    animation-delay: 3s;
}

@keyframes right-left-square {
    from {
        bottom: 0;
        right: 93%;
    }

    50% {
        right: 50%;
    }

    to {
        bottom: 0;
        right: 0;
    }
}

.infoSection::after {
    content: "";
    width: 50px;
    height: 50px;
    position: absolute;
    color: red;
    background-color: red;
    z-index: 3;
    bottom: 0;
    right: 93%;
}

.infoSection:hover::after {
    animation-name: right-left-square;
    animation-duration: 5s;
    animation-fill-mode: forwards;
    animation-delay: 3s;
}

#sectionFirst {
    border-image: linear-gradient(to right, #69b7eb, deepskyblue) 1;
}

#sectionSecond {
    border-image: linear-gradient(to right, #fedb37, #5d4a1f) 1;
}

#sectionThird {
    border-image: linear-gradient(to right, honeydew, silver) 1;
}

#linkA {
    color: blue;
}

section address::before {
    content: "👤";
}

section cite::before {
    content: "🎵";
}

section img {
    position: relative;
    display: block; /*делаем его блочным*/
    width: 500px;
    height: 300px;
    opacity: 0.9;
}

#sectionFirst:hover .textImage {
    transition: opacity;
    opacity: 0.7;
    transition-delay: 0.3s;
    transition-duration: 0.8s;

    transform: scale(1.2);
}

.textImage {
    position: absolute;
    bottom: 50px;
    left: 50px;
    opacity: 0;
}

.textImage::before {
    position: absolute;
    content: "";
    width: 0%;
    background-color: #fedb37;
    height: 20px;
    z-index: -1;
}

#sectionFirst:hover .textImage::before {
    transition: width;
    width: 100%;
    transition-delay: 0.3s;
    transition-duration: 1s;

}

section:hover cite {
    visibility: visible;
    animation-timing-function: linear;

}

section:hover address {
    visibility: visible;
}

#btnDiv {
    display: grid;
    grid-template-columns: auto auto;
    grid-column-gap: 30px;
    justify-content: center;
    align-items: center;
}
#btnRefresh{
    display: none;
}

.btnMore {
    background-color: mediumpurple;
    color: #ffffff;
    font-size: 18px;
    border-radius: 7px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btnMore:hover {
    background-color: purple;
}

.btnMore:active {
    background-color: purple;
}

.moreSection{
    display: grid;
    grid-column: auto;
    grid-row: auto;
    justify-content: space-around;
}

.moreSection div address::before {
    content: "👤";
}

div cite::before {
    content: "🎵";
}


.botWeek {
    position: relative; /* относительно него могут позицинироваться элементы из списка Top*/
}

.flexClass {
    position: relative;
    flex-direction: row;
    flex-wrap: wrap; /*переход на новую строку в случае перезаполнения*/
    justify-content: space-around; /*одинаковые размеры с краев*/

    display: grid;

    grid-template-columns: auto auto;
    grid-template-rows: auto;

    grid-auto-flow: row; /* бразуер сам заполняет пустые ячейке в разметке*/

    justify-items: stretch; /*растягивает элемент на всю ширину грид-ячейки*/

    column-gap: 30px;
    row-gap: 30px;
}

@media screen and (min-width: 300px) and (max-width: 768px) {
    .flexClass {
        grid-template-columns: auto;
    }

}

@media screen and (min-width: 769px) {
    .flexClass {
        grid-template-columns: auto;
    }

}

@media screen and (min-width: 1080px) {
    .flexClass {
        grid-template-columns: auto auto;
    }

}


#flexItem1 {
    flex-basis: 100%; /*занимает место еще до того как свободное место будет распределено*/
    width: 100%;
}

@keyframes cardAnimation {
    from {
        filter: blur(5px);
    }
    to {
        filter: blur(1px);
    }
}

#flexItem2 {
    flex-basis: 20%; /*занимает место еще до того как свободное место будет распределено*/
    width: 100%;
}


.flexClass section:hover {
    transition: width, 300ms, ease-in-out, 0.02s;
    color: red;
    transform: translate(10px);
    width: 500px;
    filter: contrast(250%);

}

.flexClass section:hover ~ section {
    animation-name: cardAnimation;
    animation-duration: 5s;
}


#flexItem3 {
    flex-basis: 30%; /*занимает место еще до того как свободное место будет распределено*/
    width: 100%;
}

#flexItem4 {
    flex-basis: 30%; /*занимает место еще до того как свободное место будет распределено*/
    width: 100%;
}

#flexItem5 {
    flex-basis: 20%; /*занимает место еще до того как свободное место будет распределено*/
    width: 100%;
}


.flexClass section {
    width: 250px;
    height: 250px;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 10px;
    cursor: grab;

}

.flexClass section img {
    height: inherit;
    width: inherit;
}

#h2BotWeek {
    text-align: center;
    position: relative;
    font-size: 30px;
}

.playListDay {
    width: 100%;
}

.playListDay .gridClass {
    display: grid;

    grid-template-columns: [start] 250px [line2] 400px [line3] 150px [end];
    grid-template-rows: [start] 200px [row1] 200px [row2] 200px [end];
    /*grid-template-columns: auto auto auto;*/
    /*grid-template-rows: auto auto auto;*/

    grid-auto-flow: row; /* бразуер сам заполняет пустые ячейке в разметке*/

    justify-content: center;
    justify-items: stretch; /*растягивает элемент на всю ширину грид-ячейки*/

    column-gap: 30px;
    row-gap: 30px;
}

@media screen and (min-width: 300px) and (max-width: 768px) {
    .playListDay .gridClass {
        grid-template-columns: auto auto;
        grid-template-rows: auto auto;
    }

}

@media screen and (min-width: 769px) {
    .playListDay .gridClass {
        grid-template-columns: [start] 250px [line2] 150px [end];
        grid-template-rows: [start] 200px [row1] 200px [row2] 200px [end];
    }

    #card1 {
        grid-row: span 1;
    }

    #card2 {
        grid-column: span 1;
    }


    #card3 {
        grid-column: span 1;
    }

    #card6 {
        grid-row: span 1;
    }

    #card7 {
        grid-column: span 1;
    }

    #card8 {
        grid-column: span 1;
    }

}

@media screen and (min-width: 1080px) {
    .playListDay .gridClass {
        grid-template-columns: [start] 250px [line2] 400px [line3] 150px [end];
        grid-template-rows: [start] 200px [row1] 200px [row2] 200px [end];
    }

    #card1 {
        grid-row: span 2;
    }

    #card2 {
        grid-column: span 2;
    }


    #card3 {
        grid-column: span 2;
    }

    #card6 {
        grid-row: span 2;
    }

    #card7 {
        grid-column: span 2;
    }

    #card8 {
        grid-column: span 3;
    }

}

#h2PlayListDay {
    margin-left: 37%;
    position: relative;
    font-size: 30px;
}

.cardPlayList {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #fff;

    border: 5px solid;
    border-image-source: linear-gradient(to right, #ff0000, #00ff00);
    border-image-slice: 1;
    border-image-repeat: stretch;
    border-radius: 10px;

    cursor: pointer;
}


@keyframes cardPlayListAnimationBorder {
    from {
        border-image-source: linear-gradient(#ff0000, #00ff00);
    }
    50% {
        border-image-source: linear-gradient(#00ff00, #ff0000);
    }
    to {
        border-image-source: linear-gradient(#ff0000, #00ff00);
    }
}

.cardPlayList:hover {
    transform: scale(1.05);
    transition: all 0.3s;
    animation-name: cardPlayListAnimationBorder;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}


.cardPlayList:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: conic-gradient(
            from -45deg,
            transparent 0% 15%,
            rgba(255, 215, 0, 0.8) 15% 20%,
            transparent 20% 35%,
            rgba(255, 215, 0, 0.8) 35% 40%,
            transparent 40% 55%,
            rgba(255, 215, 0, 0.8) 55% 60%,
            transparent 60% 75%,
            rgba(255, 215, 0, 0.8) 75% 80%,
            transparent 80% 100%
    );
    background-size: 200% 100%;
    animation: rays 2s ease-in-out infinite;
}

@keyframes rays {
    0% {
        background-position: 100% 0;
    }
    100% {
        background-position: -100% 0;
    }
}


footer {
    position: static;
    background-color: mediumpurple;
    opacity: 0.8;
}


footer h2 {
    margin-left: 37%;
    position: relative;
    font-size: 30px;


}


.footer-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    gap: 20px;
}

.footer h3 {
    font-size: 20px;
}

.footer p {
    font-size: 14px;
}

.footer a {
    color: #fff;
    text-decoration: none;
    transition: transform 0.2s;
}

.footer a:hover {
    transform: scale(1.5);
}

/* Псевдоэлементы для декорации */


.footer-info h3::before {
    content: "\1F3E1";
    font-size: 24px;
    margin-right: 10px;
}

.footer-about h3::before {
    content: "\1F4BB";
    font-size: 24px;
    margin-right: 10px;
}

.footer-links h3::before {
    content: "\1F517";
    font-size: 24px;
    margin-right: 10px;
}


/* Адаптив для широких экранов (1001px и более) */
@media screen and (min-width: 1001px) {
    .footer-content {
        grid-template-columns: repeat(3, 1fr);
    }

}

/* Адаптив для средних экранов (769px - 1000px) */
@media screen and (min-width: 769px) and (max-width: 1000px) {
    .footer-content {
        grid-template-columns: repeat(2, 1fr);
    }
}

/* Адаптив для узких экранов (320px - 768px) */
@media screen and (max-width: 320px) {
    .footer-content {
        grid-template-columns: repeat(1, 1fr);
    }
}


.leftRight {
    display: flex;
    gap: 25%;
    align-items: center;
    margin-left: 50px;
}


form {
    background-color: #f2f2f2;
    padding: 20px;
    font-family: Arial, sans-serif;
}

textarea:focus {
    outline: none;
    border-color: #6ea8da;
    box-shadow: 0 0 5px #6ea8da;
}

.button {
    display: inline-block;
    background-color: mediumpurple;
    color: white;
    padding: 10px 20px;
    border-radius: 40px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    margin-right: 10px;
    text-align: center;
}

.button span {
    position: relative;
    z-index: 1;
}

.button::before, .button::after {
    content: "";
    position: absolute;
    background-color: rgba(255, 255, 255, 0.4);
}

.button::before {
    top: 120%;
    left: 0;
    width: 100%;
    height: 100%;
    transform: skewY(40deg);
}

label {
    font-weight: bold;
    margin-bottom: 5px;
}

textarea {
    resize: vertical;
}

fieldset {
    margin-bottom: 20px;
    border: 1px solid #ccc;
    padding: 10px;
}

legend {
    font-weight: bold;
    font-size: 16px;
}

input::placeholder {
    color: #999;
    font-size: 140px;
}

.butLike {
    display: grid;
    justify-items: center;
    padding-bottom: 30px;
}

.like-button {
    background-color: #3498db;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;

}

.like-button.active {
    background-color: #e74c3c;
}

#drawingArea {
    width: 50vh;
    height: 50vh;
    border: 1px solid black;
    position: relative;
}

.drawingElement {
    width: 20px;
    height: 20px;
    position: absolute;
}

#h2MyPlayList {
    margin-left: 27%;
    position: relative;
    font-size: 20px;
}

.MyPlayList {
    position: relative;
    display: grid;
    flex-wrap: initial;
    justify-content: center;
    margin-top: 5%;

}

.Buttons {
    position: relative;
    display: block;

}

.AreaToMusics {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;

    grid-auto-flow: row; /* бразуер сам заполняет пустые ячейке в разметке*/

    justify-items: stretch; /*растягивает элемент на всю ширину грид-ячейки*/

    column-gap: 30px;
    row-gap: 30px;
}

