body {
    background-color: #8401E3;
}


header {
    position: static;

}

b {
    position: sticky;
    top: 0;
}

#b1 {
    font-size: 2em; /* относительно размера родителя (main)*/
}

#b2 {
    font-size: 2rem; /* относительно самого своего же размера*/
}

.textB {
    position: absolute;
}


.logo {
    position: relative; /* Нужно, чтобы дочерние элементы могли быть абсолютно позиционироваными относительно .logo */
    background-color: #8401E3;
    padding: 0;
    margin: 0;

}

.logo img {
    position: absolute;
    display: block; /*делаем его блочным Не даем другим элементам встать в эту ширину*/
    width: 500px;
    height: 300px;
    opacity: 0.9;
    left: 30%;

}


.logo h1 {
    position: absolute; /* Абсолютное позиционирование относительно .logo */
    right: 5%; /* Располагаем заголовок справа на 5% относительно .logo */
    color: white; /* Цвет текста заголовка */
}

nav {
    top: 320px;
    position: relative; /* относительно элемента - nav*/
    background-color: blueviolet;
    width: 100%;
    height: 200px;
}

nav p {
    position: relative;
    color: white;
    font-size: 30px;
    display: inline-block;
    margin-right: 5%;
    padding-left: 13%;


    transform: skew(15deg); /* наклонить прямоугольник*/
}

.pLineSecond {
    position: relative;
    margin: auto;
    top: 20px;
    left: 185px;

}

nav p a {
    color: white;
    text-decoration: none;
}


nav p:hover {
    transition: background-color 1s ease; /* Плавный переход для цвета заднего фона */
    opacity: 0.7;
}


main {
    position: static;
    margin-top: 25%;
    font-size: 15px;
}

.topWeek {
    position: relative; /* относительно него могут позицинироваться элементы из списка Top*/
}

#h2TopWeek {
    margin-left: 37%;
    position: relative;
    font-size: 30px;
}

section {
    position: relative;
    background-color: ghostwhite;
    display: block; /*делаем его блочным*/
    /*margin: auto; !* Центрируем изображение горизонтально *!*/
    width: 500px;
    height: 100%;


    margin-left: 28%;
    margin-bottom: 20px;

    transform: skew(15deg); /* наклонить прямоугольник*/

    border: 8px solid;


}

#sectionFirst {
    border-image: linear-gradient(to right, #69b7eb, deepskyblue) 1;
}

#sectionSecond {
    border-image: linear-gradient(to right, #fedb37, #5d4a1f) 1;
}

#sectionThird {
    border-image: linear-gradient(to right, honeydew, silver) 1;
}

#linkA {
    color: blue;
}

section address::before {
    content: "👤";
}

section cite::before {
    content: "🎵";
}

section img {
    position: relative;
    display: block; /*делаем его блочным*/
    width: 500px;
    height: 300px;
    opacity: 0.9;
}

#imageSmile {
    z-index: 2; /* можем поменять на -1*/

    width: 50px;
    height: 50px;

    bottom: 100px;
    left: 100px;

    position: absolute;
}


.maybeLike {
    position: relative;
}

aside {
    position: absolute; /* Абсолютное позиционирование относительно div_class=topWeek*/
    left: 80%; /* Располагаем заголовок по горизонтали на 50% относительно .logo */
    top: 40%;
    color: white; /* Цвет текста заголовка */
    /*border: 3px solid black;*/
}


.h3Aside {
    position: relative;
    font-size: 30px;
    color: black;
    right: 30px;
}

aside pre {
    margin: auto;
    text-align: left;
    margin-bottom: -17px;
    margin-left: 50px;
}

aside img {
    width: 40px;
    height: 40px;
    transform: translate(0%, -57%);
    border-radius: 10px;
}

aside img:active {
    transition: background-color 1s ease; /* Плавный переход для цвета заднего фона */
    background-color: #8401E3;
    clip-path: ellipse(100% 100%); /* Форма заднего фона в виде круга */
    opacity: 0.7;
}


.botWeek {
    position: relative; /* относительно него могут позицинироваться элементы из списка Top*/
}

#h2BotWeek {
    margin-left: 37%;
    position: relative;
    font-size: 30px;
}

#imageFloat {
    z-index: 1;
    float: left;
    margin-right: 10px;
    width: 200px;
    height: 200px;
}

footer {
    position: static;
    background-color: mediumpurple;
    opacity: 0.8;
}

footer h2 {
    margin-left: 37%;
    position: relative;
    font-size: 30px;

}

.leftRight {
    display: flex;
    gap: 25%;
    align-items: center;
    margin-left: 50px;
}

#fixedImage {
    position: fixed;
    top: 35px;
    left: 5px;
    z-index: 9999;
    width: 3vw; /* процентное отношение относительно окна просмотра*/
    height: auto;

}


form {
    background-color: #f2f2f2;
    padding: 20px;
    font-family: Arial, sans-serif;
}

textarea:focus {
    outline: none;
    border-color: #6ea8da;
    box-shadow: 0 0 5px #6ea8da;
}

button {
    background-color: #4CAF50;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 2em; /* относительно родителя*/
    cursor: pointer;
}

label {
    font-weight: bold;
    margin-bottom: 5px;
}

textarea {
    resize: vertical;
}

fieldset {
    margin-bottom: 20px;
    border: 1px solid #ccc;
    padding: 10px;
}

legend {
    font-weight: bold;
    font-size: 16px;
}

input::placeholder {
    color: #999;
    font-size: 140px;
}
